<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora document</h1>

        <% for (let post of posts) { %>
         <div>
            <h3>@ <%= post.username %></h3>
            <h2><%= post.content %></h2>
            <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>

            <form method="post" action="/posts/<%= post.id %>?_method=Delete">
                <button type="submit">Delete</button>
            </form>
            
         </div>

        <% } %>

        <br>
        <br>

        <a  class="anchor" href="http://localhost:8080/posts/new">Add new blog</a>
      
</body>
</html>